<html lang="en" th:replace="~{shared/_layout::layout('Drivers Admin', '', ~{::div#naja}, '', ~{::ol.breadcrumb})}">

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a th:href="@{/drivers}">Drivers</a></li>
    <li class="breadcrumb-item active">Delete</li>
</ol>

<div id="naja">
    <th:block th:replace="~{/drivers/details.html::#driverDetails}"></th:block>
    <div class="row">
        <div class="col">
            <form method="post">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
</div>

</html>