<html lang="en" th:replace="~{shared/_layout::layout('Drivers Admin', '', ~{::div#naja}, '', ~{::ol.breadcrumb})}">

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a th:href="@{/drivers}">Drivers</a></li>
    <li class="breadcrumb-item active">Edit</li>
</ol>

<div id="naja">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Modify the Driver</h5>

            <th:block th:replace="~{/drivers/create.html::#driverForm}" th:if="${driver!=null}">

            </th:block>

            <div th:unless="${driver!=null}">
                <div class="alert alert-danger" role="alert">
                    Driver not found
                </div>
            </div>


        </div>
    </div>
</div>

</html>